{{> header}}

<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="m-grid__item m-grid__item--fluid m-wrapper">

	<div class="m-content">
		{{#if error}}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			</button>
			<strong>Oh snap!</strong> {{error}}
		</div>
		{{/if}}
		{{#if success}}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			</button>
			<strong>Success!</strong> {{success}}
		</div>
		{{/if}}
		{{#if usersDoNotExist}}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				</button>
				<!-- <strong>Oh snap!</strong> No users are available in your area. Please check back again later! -->
		</div>
		{{/if}}

		<div class="row">
			{{#if usersDoNotExist}}
			<script type="text/javascript">
				$(window).on('load',function(){
					// swal("No matches found!", "Please check back again later.", "error")
				});
			</script>
			{{else}}

			<div class="col-lg-4">
				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Name: {{user_name}}
								</h3>
							</div>
						</div>
					</div>

					<!--begin::Form-->
						<div class="m-portlet__body">
							<div class="m-form__section m-form__section--first">
								<div class="form-group m-form__group row">

										<div class="col-lg-12">
											<div id="myCarousel" class="carousel slide" data-ride="carousel">
												<!-- Wrapper for slides -->
												<div class="carousel-inner">
													{{#if user_pictures.length}}
														{{#each user_pictures}}
															{{#if @first}}
																<div class="item active">
															{{else}}
																<div class="item">
															{{/if}}
																<img src="{{this}}" alt="user picture" style="width:320px;height:329px;">
															</div>
														{{/each}}
													{{else}}
														<div class="item active">
															<div style="text-align:center;">
																<img src="https://res.cloudinary.com/frindr/image/upload/v1571593624/no-photo_eoc1ek.gif" alt="user picture" style="width:320px;height:329px;">
															</div>
														</div>
													{{/if}}
												</div>

												<!-- Left and right controls -->
												<a class="left carousel-control" href="#myCarousel" data-slide="next">
													<span class="glyphicon glyphicon-chevron-left"></span>
													<span class="sr-only">Previous</span>
												</a>
												<a class="right carousel-control" href="#myCarousel" data-slide="next">
													<span class="glyphicon glyphicon-chevron-right"></span>
													<span class="sr-only">Next</span>
												</a>
											</div>
										</div>
									</div>
							</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit">
						</div>




					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
			<div class="col-lg-4">
				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Characteristics & Interests
								</h3>
							</div>
						</div>
					</div>

					<!--begin::Form-->
						<div class="m-portlet__body">
							<div class="m-form__section m-form__section--first">
								<div class="form-group m-form__group row">
									<label> Characteristics:</label>
									<div>
										<br>
										<ul style="list-style-type:square;">
  										<li>Height: {{height}}</li>
  										<li>Exercise: {{exercise}}</li>
  										<li>Education: {{education}}</li>
											<li>Drinking: {{drinking}}</li>
											<li>Smoking: {{smoking}}</li>
											<li>Pets: </li>
											<li>Religious: </li>
											<!-- <li>Pets: {{pets}}</li>
											<li>Religious: {{religious}}</li> -->
										</ul>
									</div>
									</div>
									<div class="form-group m-form__group row">
										<label> Interests: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
										<div>
											<br>
											<ul style="list-style-type:square;">
												{{#each user_interests}}
												<li>{{this}}</li>
												{{/each}}
												<li>
											</ul>
										</div>
										</div>
							</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit">

						</div>

					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
			<div class="col-lg-4">
				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Interested?
								</h3>
							</div>
						</div>
					</div>

					<!--begin::Form-->
					<form class="m-login__form m-form" method="post" action="/checkmatch">
						<div class="m-portlet__body">
							<div class="m-form__section m-form__section--first">
								<div class="form-group m-form__group row">

									 <input type="hidden"  name="email" value="{{user_email}}">

									<button type="submit" name="choice" value="yes" class="btn btn-primary">Yes</button>
									<button type="submit" name="choice" value="no" class="btn btn-secondary">No</button>
									</div>
							</div>
						</div>
					</form>
						<div class="m-portlet__foot m-portlet__foot--fit">

						</div>

					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
			{{/if}}
		</div>

		<!--End::Main Portlet-->
	</div>
</div>





</form>
{{> footer}}
