{{> header}}
<div class="m-grid__item m-grid__item--fluid m-wrapper">

	<div class="m-content">
		{{#if error}}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			</button>
			<strong>Oh snap!</strong> {{error}}
		</div>
		{{/if}}
		{{#if success}}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			</button>
			<strong>Success!</strong> {{success}}
		</div>
		{{/if}}

		<div class="row">
			<div class="col-lg-3">

				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Frindr Profile
								</h3>
							</div>
						</div>
					</div>

					<!--begin::Form-->
					<form class="m-form">
						<div class="m-portlet__body">
							<div class="m-form__section m-form__section--first">
								<div class="form-group m-form__group">
									<label for="example_input_full_name">Email:</label>
									<input type="email" disabled="" class="form-control m-input" value="{{user.email}}">
								</div>
								<div class="form-group m-form__group">
									<label>Username:</label>
									<input type="text" class="form-control m-input" value="{{user.username}}" disabled="">
								</div>
								<div class="form-group m-form__group">
									<label>First Name:</label>
									<input type="text" class="form-control m-input" value="{{user.first_name}}" disabled="">
								</div>
								<div class="form-group m-form__group">
									<label>Last Name:</label>
									<input type="text" class="form-control m-input" value="{{user.last_name}}" disabled="">
								</div>
								<div class="form-group m-form__group">
									<label>Location:</label>
									<input type="text" class="form-control m-input" value="{{user.latitude}}:{{user.longitude}}" disabled="">
								</div>
							</div>
						</div>
					</form>
					<!--end::Form-->
				</div>

				<!--end::Portlet-->
			</div>

			<div class="col-lg-3">

				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Change Password
								</h3>
							</div>
						</div>
					</div>

					<!--begin::Form-->
					<form class="m-form" action="/settings" method="post">
						<div class="m-portlet__body">
							<div class="m-form__section m-form__section--first">
								<div class="form-group m-form__group">
									<label>Current Password</label>
									<input type="password" required="true" name="currentPassword" class="form-control m-input">
								</div>
								<div class="form-group m-form__group">
									<label>New Password</label>
									<input type="password" name="newPassword" class="form-control m-input">
								</div>
								<div class="form-group m-form__group">
									<label>Confirm New Password</label>
									<input type="password" name="newPassword2" class="form-control m-input">
								</div>
							</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit">
							<div class="m-form__actions m-form__actions">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>
						</div>
					</form>
					<!--end::Form-->
				</div>

				<!--end::Portlet-->
			</div>

		</div>

		<!--End::Main Portlet-->
	</div>
</div>

</form>
{{> footer}}